<main class="bg-black text-white selection:bg-lux-neon selection:text-white">

  <section class="relative h-[80vh] flex items-center justify-center overflow-hidden">
    <video autoplay muted loop class="absolute w-full h-full object-cover z-0 opacity-40">
      <source src="assets/hero-ride.mp4" type="video/mp4">
    </video>
    <div class="relative z-10 text-center px-4 max-w-lg mx-auto">
      <img src="assets/images/Logo.png" alt="Luxriderez Logo"
        class="w-48 md:w-64 mx-auto mb-6 transform hover:scale-105 transition-transform duration-500">
      <h1 class="text-3xl md:text-6xl font-black uppercase tracking-tighter mb-4 leading-tight">
        ESTILO ÚNICO EN <span class="text-lux-neon">CADA RUTA</span>
      </h1>
      <p class="text-xl text-zinc-400 mb-8 max-w-2xl mx-auto font-light">
        El morral viral en Colombia. Tecnología LED y protección rígida.
      </p>
      <p class="text-xl text-zinc-400 mb-8 max-w-2xl mx-auto font-light">
        Bienvenidos a luxriderez 💯 Moral / maletas led futurista👀, la más vendida del momento 🏍️ gente con estilo único en
        cada ruta 😎</p>
      <a href="https://wa.me/573105891725"
        class="inline-block w-full sm:w-auto bg-lux-neon hover:bg-lux-fire text-white font-bold py-4 px-10 rounded-full shadow-neon">
        Pedir Ahora!!
      </a>
    </div>
  </section>

  <app-product-list></app-product-list>

  <app-product-detail></app-product-detail>

</main>

<app-footer></app-footer>