@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

main {
    background-image: radial-gradient(circle at 50% 50%, #1a1a1a 0%, #000000 100%);
    position: relative;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.5s ease-out forwards;
}